

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

tbody{
    max-width: 1140px;
    margin: 0 auto;
}

.image { 
   position: absolute; 
   width: 100%; 
}

h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}




footer{
    background: #f8f8f8;
    border-top: 1px solid #e1e1e1;
    padding:  22px 15px;
    text-align: center;
}

footer p {
    margin: 0;
}





